{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<h1>Agregar Laboratorio</h1>


<form method="POST">
    {% csrf_token %}
    <div class="mb-3 row mx-5">
        <div class="col-4">
            {{ form|crispy }}
        </div>
    </div>
    <button type="submit">
        Ingresar Laboratorio
    </button>
    <a href="/">Volver</a>
</form>

<div class="alert alert-warning" role="alert">
    {{error}}
</div>

{% endblock %}
